.loginDescription {
	text-align: center;
	font-family: fantasy;	
	font-size: 12pt;
	background-color: #ccccee;
	border-style: double;
}

.loginErrors {
	text-align: center;
	font-family: sans-serif;
	font-size: 12pt;
	background-color: #990000;
	padding: 20px;
	border-style: solid;
}

#loadingPleaseWait {
	font-size: 24pt;
	color: blue;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	margin: auto;
}

.centerTable {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}

.loginDescriptionExamples {
	width: 40%;
	margin: auto;
	text-align: left;
	color: blue;
	font-size: 8pt;
}

.loginDescriptionExampleItem {
	font-weight: bold;
	display: inline;
}

.required,.registerLocation {
	font-weight: bold;
	color: red;
	font-size: 10pt;
}

#topPanel .welcomeDescription {
	font-weight: bold;
	font-family: fantasy;
	font-size: 14pt;
	padding-left: 5px;
	padding-top: 3px;
	color: #111188;
}

#topPanel .youAreLoggedOnAs {
	padding-left: 5px;
}

#topPanel .firstLastName {
	font-weight: bold;
	color: #111188;
	padding-left: 5px;
}

.errorHeader {
	font-weight: bold;
	color: red;
	font-size: 14pt;
	font-family: 'Trebuchet MS';
}

.errorMessages {
	color: #ee0000;
	font-size: 10pt;
}

.errorPanel {
	background-color: #eeaaaa;
}

.warningHeader {
	font-weight: bold;
	color: silver;
	font-size: 14pt;
	font-family: 'Trebuchet MS';
}

.warningMessages {
	color: #000000;
	font-size: 10pt;
}

.warningPanel {
	background-color: #fafad2;
}

.navigationPanel {
}

.navigationPanel:hover {
	background-color: #FF0000 !important;
}

.navigationItemOff, .navigationTreeItemOff {
	padding-left: 15px;
	background-color: #F0F0F0;
	color: black;
	font: arial,tahoma,helvetica,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.navigationItemOn, .navigationTreeItemOn {
	padding-left: 15px;
	background-color: #FFE8A0;
	color: black;
	font: arial,tahoma,helvetica,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.navigationItemOff:hover, .navigationTreeItemOff:hover, .navigationItemOn:hover, .navigationTreeItemOn:hover {
	background-color: #AAE8A0;
}

.requiredFieldLabel, .optionalFieldLabel {
	font-size: 14px;
	font-weight: bold;
	color: #1111ee;
}

.avatar {
	border-style:outset;
	border-width: 1px;
	border-color: black;
	width: 200px;
	height: 200px;
}
.avatarSmall {
	border-style:outset;
	border-width: 1px;
	border-color: black;
	width: 32px;
	height: 32px;
}


.avatarSelector {
	font-size: 14px; 
	font-weight: bold;
}

.avatarSelectorBasicProfile {
	font: 12px tahoma,arial,helvetica,sans-serif;
	top: 5px !important;	
}

.profileLabelField {
	font-weight: bold;	
}

.profileNoteLabel, .profileDescriptionLabel, .blogName {
	font-weight: bold;	
	font-size: 14pt;
}

.profileNoteModifiedtimeLabel {
	font-family: fantasy;	
	font-size: 8pt;
	font-style: italic; 
	font-weight: lighter;
}

.editBasicProfile {
	/* you can use 
	the FF plugin: Web Developer -> Information -> View Color Information 
	to find a match
	*/
	background: #dfe8f6;
}

.editBasicProfile .x-panel-mr {
	background: #dfe8f6;
}
.editBasicProfile .x-panel-br {
	background: #dfe8f6;
}
.editBasicProfile .x-panel-ml {
	background: #dfe8f6;
}
.editBasicProfile .x-panel-bl {
	background: #dfe8f6;
}
.editBasicProfile .x-panel-footer {
	background: #dfe8f6;
}
.editBasicProfile .x-panel-tl {
	width: 0px;
	height: 0px;
	line-height: 0px;
	padding: 0px;
	background: #dfe8f6 !important;
}
.editBasicProfile .x-panel-tr {
	background: #dfe8f6;
}
.editBasicProfile .x-panel-tc {
	width: 0px;
	background: #dfe8f6;
}
.editBasicProfile .x-panel-header {
	background: #dfe8f6;
}

.logout {
	padding-right: 5px;
	cursor: pointer;
}
.logout:hover {
	background-color: #FF0000 !important;
}

.profileDescription ol {
    list-style-type:decimal;
    padding-left:40px;
}

.profileDescription ul {
    list-style-type:disc
    padding-left:40px;
}

.selectedFile input {
	color: green !important;
}

.uploadBrowseContainer { 
	display: inline;
	border: 1px solid #7FAAFF;;	
	background-color: #C5D9FF;
	padding: 3px;
	position: relative;
	float: left;
}

.uploadError {
	font-weight: bold;
	background: red !important;
}

.imageViewer {
	border: 1px solid black;
}

.image50percent {
	width: 50%;
	height: 50%;
}

.formHeading {
	font-size: 16pt;
}

.myGroupsRow {
	height: 50px !important;
	overflow: auto;
}

.myGroupmessageRow {
	height: 35px !important;
	overflow: auto;
}

.overflowAuto {
	overflow: auto;
}

.textFile {
	width: 100%;
	height: 100%;
	background-color: white;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: auto;
}

.groupmessageInfo {
	font-size: 8pt;
	font-style: italic; 
}

.clickableUsername, .tallyCount {
	color: #7F2222 !important;
	background-color: #C5D9FF;
	cursor: pointer;
}
.clickableUsername:hover, .tallyCount:hover {
	background-color: #0000FF !important;
}

.whisper {
	background-color: pink !important;
}