<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.CodeGenerationLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.hibernate.eclipse.launch.CodeGenerationLaunchGroup"/>
<listEntry value="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchGroup"/>
</listAttribute>
<stringAttribute key="org.hibernate.tools.configurationname" value="nositerHibernateConsoleConfiguration"/>
<booleanAttribute key="org.hibernate.tools.ejb3" value="true"/>
<listAttribute key="org.hibernate.tools.exporters">
<listEntry value="org.hibernate.tools.hbm2java"/>
<listEntry value="org.hibernate.tools.hbm2hbmxml"/>
<listEntry value="org.hibernate.tools.hbm2dao"/>
<listEntry value="org.hibernate.tools.hbm2cfgxml"/>
<listEntry value="org.hibernate.tools.hbm2doc"/>
<listEntry value="org.hibernate.tools.hbm2ddl"/>
<listEntry value="myDomain"/>
<listEntry value="myDto"/>
</listAttribute>
<booleanAttribute key="org.hibernate.tools.exporters.myDomain" value="true"/>
<stringAttribute key="org.hibernate.tools.exporters.myDomain.extension_id" value="org.hibernate.tools.hbmtemplate"/>
<mapAttribute key="org.hibernate.tools.exporters.myDomain.properties">
<mapEntry key="file_pattern" value="com/nositer/hibernate/generated/domain/{class-name}.java"/>
<mapEntry key="outputdir" value="/nositer/src"/>
<mapEntry key="package_name" value="com.nositer.hibernate.generated.domain"/>
<mapEntry key="template_name" value="domain/Pojo.ftl"/>
</mapAttribute>
<booleanAttribute key="org.hibernate.tools.exporters.myDto" value="true"/>
<stringAttribute key="org.hibernate.tools.exporters.myDto.extension_id" value="org.hibernate.tools.hbmtemplate"/>
<mapAttribute key="org.hibernate.tools.exporters.myDto.properties">
<mapEntry key="file_pattern" value="com/nositer/client/dto/generated/{class-name}.java"/>
<mapEntry key="outputdir" value="/nositer/src"/>
<mapEntry key="package_name" value="com.nositer.client.dto.generated"/>
<mapEntry key="template_name" value="dto/Pojo.ftl"/>
</mapAttribute>
<booleanAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2cfgxml" value="true"/>
<stringAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2cfgxml.extension_id" value="org.hibernate.tools.hbm2cfgxml"/>
<booleanAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2dao" value="false"/>
<stringAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2dao.extension_id" value="org.hibernate.tools.hbm2dao"/>
<booleanAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2ddl" value="false"/>
<stringAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2ddl.extension_id" value="org.hibernate.tools.hbm2ddl"/>
<booleanAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2doc" value="false"/>
<stringAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2doc.extension_id" value="org.hibernate.tools.hbm2doc"/>
<booleanAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2hbmxml" value="false"/>
<stringAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2hbmxml.extension_id" value="org.hibernate.tools.hbm2hbmxml"/>
<booleanAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2java" value="false"/>
<stringAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbm2java.extension_id" value="org.hibernate.tools.hbm2java"/>
<booleanAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbmtemplate" value="false"/>
<stringAttribute key="org.hibernate.tools.exporters.org.hibernate.tools.hbmtemplate.extension_id" value="org.hibernate.tools.hbmtemplate"/>
<booleanAttribute key="org.hibernate.tools.jdk5" value="true"/>
<stringAttribute key="org.hibernate.tools.outputdir" value="\nositer\src"/>
<stringAttribute key="org.hibernate.tools.package" value="com.nositer.hibernate.generated.domain"/>
<booleanAttribute key="org.hibernate.tools.prefercompositeids" value="true"/>
<booleanAttribute key="org.hibernate.tools.reveng.detect_many_to_many" value="true"/>
<booleanAttribute key="org.hibernate.tools.reveng.detect_one_to_one" value="true"/>
<booleanAttribute key="org.hibernate.tools.reveng.detect_optimistc_lock" value="true"/>
<stringAttribute key="org.hibernate.tools.revengstrategy" value="com.nositer.hibernate.RevEng"/>
<booleanAttribute key="org.hibernate.tools.schema2hbm" value="true"/>
<stringAttribute key="org.hibernate.tools.templatepath" value="\nositer\hibernateTemplate\"/>
<booleanAttribute key="org.hibernate.tools.useOwnTemplates" value="true"/>
</launchConfiguration>
