<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3.0.xsd">


	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>
	<context-param>
		<!-- Useful in development mode to slow down the uploads in fast networks. 
			Put the number of milliseconds to sleep in each block received in the server. 
			false or 0, means don't use slow uploads -->
		<param-name>slowUploads</param-name>
		<param-value>200</param-value>
	</context-param>

	<!--Servlet Filter that handles site authorization. -->
	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<description>This Filter authorizes user access to application
			components based upon request URI.
		</description>
		<filter-class>com.nositer.webapp.AuthorizationFilter</filter-class>
		<init-param>
			<param-name>error_page</param-name>
			<param-value>/error.jsp</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>AccessLogFilter</filter-name>
		<description>This Filter is used for logging</description>
		<filter-class>com.nositer.webapp.AccessLogFilter</filter-class>
		<init-param>
			<param-name>error_page</param-name>
			<param-value>/error.jsp</param-value>
		</init-param>
	</filter>


	<filter>
		<filter-name>JettyContinuationFilter</filter-name>
		<filter-class>org.eclipse.jetty.continuation.ContinuationFilter
		</filter-class>
	</filter>

 
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<listener>
		<listener-class>com.nositer.webapp.HibernateListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.nositer.webapp.BootstrapListener</listener-class>
	</listener>


	<!-- Servlets -->
	<servlet>
		<servlet-name>GwtServiceResolver</servlet-name>
		<servlet-class>com.google.gwt.user.server.rpc.GwtServiceResolver
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.nositer.server.servlet.UploadServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CurrentUserAsJsonServlet</servlet-name>
		<servlet-class>com.nositer.server.servlet.CurrentUserAsJsonServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GroupFileServlet</servlet-name>
		<servlet-class>com.nositer.server.servlet.GroupFileServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UserFileServlet</servlet-name>
		<servlet-class>com.nositer.server.servlet.UserFileServlet
		</servlet-class>
	</servlet>



	<servlet>
		<description>AtmosphereServlet</description>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<init-param>
			<!-- prevent deadlocks -->
			<param-name>org.atmosphere.disableOnStateEvent</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>org.atmosphere.useWebSocket</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>org.atmosphere.useNative</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- <init-param> <param-name>org.atmosphere.useBlocking</param-name> <param-value>true</param-value> 
			</init-param> -->
		<load-on-startup>0</load-on-startup>
		<!--Uncomment if you want to use Servlet 3.0 Async Support -->
		<!-- <async-supported>true</async-supported> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/atmosphere/gwtComet</url-pattern>
	</servlet-mapping>




	<servlet-mapping>
		<servlet-name>UserFileServlet</servlet-name>
		<url-pattern>/userfile/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GroupFileServlet</servlet-name>
		<url-pattern>/groupfile/*</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>CurrentUserAsJsonServlet</servlet-name>
		<url-pattern>/currentuserasjson</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GwtServiceResolver</servlet-name>
		<url-pattern>*.gwtrpc</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Nositer.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>3000</session-timeout>
	</session-config>
</web-app>
